# Secrets
.env

# Dependencies
node_modules/
__pycache__/
*.pyc

# AI Models (Too big for GitHub, users must download them separately)
models/*.h5
models/*.keras
models/*.pth
models/*.pt

# System Files
.DS_Store
Thumbs.db
uploads/